
<p>
  <strong>Up:</strong>
  <%= @vote.up %>
</p>

<p>
  <strong>Down:</strong>
  <%= @vote.down %>
</p>

<p>
  <strong>User:</strong>
  <%= @vote.user %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
