<!DOCTYPE html>
<html>
<head>
  <title>Redditapptiy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p id="notice"><%= notice %></p>

<%= yield %>

 <%= link_to "Logout", logout_path, method: :delete if user_logged_in? %>



 <p>current_user:<%= current_user.inspect %><br>
 <%= params.inspect if Rails.env.development? %></p>

 <footer>
     <%= "User logged in: #{current_user.username}" if current_user %>
</footer>

</html>
